.brand {
  & .brand-name {
    & .brand-link {
      translate: 0px 0px;
      transition: all .5s;
      & a {
        color: unset;
        text-decoration: unset;
      }
      & .brand-text {
        color: #666;
        text-align: center;
        justify-self: left;
        text-shadow: 4px 4px 10px #44444488;
        transition: all .25s;

        &:hover {
          color: #ccc;
          text-shadow: 3px 3px 5px #222222cc;
          transition: all .25s
        }
      }
      &:hover {
        translate: 1px 1px;
        transition: all .25s;
      }
    }
    &:hover {
      cursor: grab;
    }
  }
}
