$canvas-width: 100vw;

body {
  background: #000;
}
    nav {
      & ul {
        & li {
          list-style-type: none;
        }
      }
    }

#canvas {
  position:absolute;
  top: 0;
  left: 0;
  width: $canvas-width;
  // height: calc($canvas-width / 1.8306351183063512) !important;
  height: calc($canvas-width / 1.5978260869565217 - 5vh) !important;
}

#ui {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  margin: 0;
}